<section class="intro">

  <h1 class="name">Sylvain Farnault</h1>
  <%= image_tag "sylvain_photo.png", alt: "Une photo de Sylvain Farnault", class: 'avatar' %>

  <h1>
    Votre <br>
    <span>D&Eacute;VELOPPEUR WEB</span>
    <br>
    Freelance
  </h1>

  <div class="services">
    <span>Service sur-mesure</span>
    <span>D&eacute;veloppement avec le client</span>
    <span>Collaboration</span>
    <span>Adaptation</span>
    <span>Accompagnement</span>
  </div>
  <%= link_to 'Contactez-moi', '#contact', class: 'button'  %>
</section>
