<section class="dark">
    <div class="go-next">
      <%= icon('fas', 'chevron-down') %>
    </div>
    <h1>Service</h1>
    <p>
       Je propose mes services pour la conception et le développement de votre site internet <span>sur-mesure</span>.
       Spécialisé dans les sites <span>E-commerce</span>, Site <span>applicatif</span>, système de prise de <span>rendez-vous/calendrier</span>, système de <span>visio</span>.
    </p>
  </section>
