<section class="dark">
    <div class="go-next">
      <%= icon('fas', 'chevron-down') %>
    </div>
    <h1>Qui je suis?</h1>
    <p>
      Je m'appelle <span>Sylvain</span>, j'habite à Marseille.
       Je propose mes services pour la conception et le développement de votre site internet.
       Spécialisé dans les sites E-commerce, Site applicatif, système de prise de rendez-vous/calendrier, système de visio
      <%= "Vieux lapin!" * 150 %>
    </p>
  </section>
