<div class="container">
  <section class="darker">
    <h1 class="name">Sylvain</h1>
  </section>

  <section class="dark">
    <div class="service">
      <h1>
        Votre <br><span>développeur</span> web
        <br>
        <span>Freelance</span>
      </h1>
      <p class="">Service</p>
      <p class="right">Vos besoins</p>
      <p class="left">Sur-mesure</p>
      <p class="">Accompagnement</p>
      <button>Contactez-moi</button>
    </div>
  </section>


  <section class="darker">
    <h1>Qui je suis?</h1>
    <%= image_tag "sylvain_photo.png", alt: "Une photo de Sylvain Farnault", class: 'avatar' %>
    <pre>
      Je m'appelle <span>Sylvain</span>, j'habite à Marseille.
       Je propose mes services pour la conception et le développement de votre site internet.
       Spécialisé dans les sites E-commerce, Site applicatif, système de prise de rendez-vous/calendrier, système de visio
    </pre>
  </section>

  <section class="dark">

  </section>
</div>


