button {
  padding: 20px;
  background-color: $main-call-to-action;
  font-size: 68px;
  border-radius: 15px;
  /* position: absolute;
  bottom: 120px; */
}

.button {
  padding: 20px;
  background-color: $main-call-to-action;
  font-size: 60px;
  border-radius: 15px;
  text-decoration: none;
  /* position: absolute;
  bottom: 120px; */
}

.button:hover {

}
