section {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

section.intro {
  min-height: 92vh;
  position: relative;
  box-shadow: inset 120px -120px 120px -120px $main-background-color-dark,
              inset  0  120px 120px -120px $main-background-color-dark;
  background-color: rgba(20, 28, 41, 0.5);
  justify-content: space-evenly;

}


section.darker {
  background-color: $main-background-color-darker;
  box-shadow: inset 0 -120px 120px -120px $main-background-color-dark,
              inset  0  120px 120px -120px $main-background-color-dark;
}

section.dark {
  background-color: $main-background-color-dark;
  box-shadow: inset 0 -120px 120px -120px $main-background-color-darker,
              inset  0  120px 120px -120px $main-background-color-darker;
}

section .avatar {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  border: 20px solid $main-border-color;

}

